@page "/PersonalData"
@model Chirp.Web.Areas.Identity.Pages.PersonalDataModel

@{
    ViewData["Title"] = "Personal Data";
    Layout = "Shared/_Layout";
}
<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>
            Your account contains personal data that you have given us. This page allows you to view or delete that
            data.
        </p>
        <h3>Your DisplayName:</h3>
        <p>@Model.Author?.Name</p>
        <h3>Your Email:</h3>
        <p>@Model.Author?.Email</p>
        <h3>You are Following:</h3>
        <ul id="followList" class="cheeps">
            @foreach (var name in Model.Author?.Following!)
            {
                <li>
                    <a href="/@name">
                        @name
                    </a>
                </li>
            }
        </ul>
        <h3>Your Cheeps:</h3>
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Author.Cheeps)
            {
                <li>
                    <p>
                        @cheep.Text
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <div class="ForgetUser">
            <form method="post" asp-page-handler="ForgetUser">
                <button type="submit">Forget me!</button>
            </form>
        </div>
    </div>
</div>